{% trans_default_domain 'EasyMediaBundle' %}

{% set isModal = (modal is defined and modal) ? true : false %}
{% set isBrowser = (browser is defined and browser) ? true : false %}

{% set options = {
    'baseUrl' : easy_media.base_url,
    'hideFilesExt' : easy_media.hide_files_ext,
    'mimeTypes' : easy_media.extended_mimes,
    'broadcasting' : easy_media.enable_broadcasting,
    'gfi' : easy_media.get_folder_info,
    'ratioBar' : easy_media.show_ratio_bar,
    'previewFilesBeforeUpload' : easy_media.preview_files_before_upload|trans()
} %}

{% set routes = {
    'files' : path('media.get_files'),
    'lock' : path('media.lock_file'),
    'visibility' : path('media.change_vis'),
    'upload' : path('media.upload'),
    'locked_list' : path('media.locked_list')
} %}

{% set translations = {
    'add_to_list' : 'add.list'|trans,
    'added' : 'add.added'|trans,
    'already_exists' : 'error.already_exists'|trans,
    'application' : 'application'|trans,
    'audio' : 'audio.main'|trans,
    'bm_add_to_list' : 'bookmarks.add'|trans,
    'bm' : 'bookmarks.main'|trans,
    'clear' : 'clear'|trans({'attr' : 'crop.selection'|trans}),
    'copy_success' : 'copy.success'|trans,
    'copy' : 'copy.main'|trans,
    'create_folder_notif' : 'new.create_folder_notif'|trans,
    'create_success' : 'create_success'|trans,
    'crop_apply' : 'crop.apply'|trans,
    'crop_flip_horizontal' : 'crop.flip_horizontal'|trans,
    'crop_flip_vertical' : 'crop.flip_vertical'|trans,
    'crop_reset_filters' : 'crop.reset_filters'|trans,
    'crop_reset' : 'crop.reset'|trans,
    'crop_cancel' : 'crop.cancel'|trans,
    'crop_rotate_left' : 'crop.rotate_left'|trans,
    'crop_rotate_right' : 'crop.rotate_right'|trans,
    'crop_zoom_in' : 'crop.zoom_in'|trans,
    'crop_zoom_out' : 'crop.zoom_out'|trans,
    'crop' : 'crop.main'|trans,
    'delete_success' : 'delete.success'|trans,
    'delete' : 'delete.main'|trans,
    'description' : 'description'|trans,
    'diff' : 'editor.diff'|trans,
    'dimension' : 'dimension'|trans,
    'downloaded' : 'download.downloaded'|trans,
    'editor' : 'editor.main'|trans,
    'error_altered_fwli' : 'error.altered_fwli'|trans,
    'filter_by' : 'filter.by'|trans({'attr' : ''}),
    'filtration' : 'filter.filtration'|trans,
    'find' : 'find'|trans,
    'focals' : 'focals'|trans,
    'folder' : 'folder'|trans,
    'found' : 'found'|trans,
    'glbl_search_avail' : 'search.glbl_avail'|trans,
    'glbl_search' : 'search.glbl'|trans,
    'go_to_folder' : 'go_to_folder'|trans,
    'image' : 'image'|trans,
    'last_modified' : 'last_modified'|trans,
    'locked' : 'locked'|trans,
    'move_clear' : 'move.clear_list'|trans,
    'move_success' : 'move.success'|trans,
    'move' : 'move.main'|trans,
    'name' : 'name'|trans,
    'new_uploads_notif' : 'upload.new_uploads_notif'|trans,
    'no_val' : 'no_val'|trans,
    'non' : 'non'|trans,
    'nothing_found' : 'nothing_found'|trans,
    'open' : 'open'|trans,
    'close' : 'close'|trans,
    'options' : 'options'|trans,
    'presets' : 'crop.presets'|trans,
    'refresh_notif' : 'refresh_notif'|trans,
    'rename_success' : 'rename.success'|trans,
    'rename' : 'rename.main'|trans,
    'reset' : 'crop.reset'|trans,
    'save_success' : 'save.success'|trans,
    'save' : 'save.main'|trans,
    'selected' : 'select.selected'|trans,
    'sep_download' : 'download.sep'|trans,
    'size' : 'size'|trans,
    'sort_by' : 'sort_by'|trans,
    'stand_by' : 'stand_by'|trans,
    'text' : 'text'|trans,
    'to_cp' : 'copy.to_cp'|trans,
    'upload_in_progress' : 'upload.in_progress'|trans,
    'upload_success' : 'upload.success'|trans,
    'video' : 'video'|trans,
    'clarity' : 'editor.clarity'|trans,
    'pinhole' : 'editor.pinhole'|trans,
    'love' : 'editor.love'|trans,
    'jarques' : 'editor.jarques'|trans,
    'orange_peel' : 'editor.orange_peel'|trans,
    'sin_city' : 'editor.sin_city'|trans,
    'grungy' : 'editor.grungy'|trans,
    'old_boot' : 'editor.old_boot'|trans,
    'lomo' : 'editor.lomo'|trans,
    'vintage' : 'editor.vintage'|trans,
    'cross_process' : 'editor.cross_process'|trans,
    'concentrate' : 'editor.concentrate'|trans,
    'glowing_sun' : 'editor.glowing_sun'|trans,
    'sunrise' : 'editor.sunrise'|trans,
    'nostalgia' : 'editor.nostalgia'|trans,
    'hemingway' : 'editor.hemingway'|trans,
    'her_majesty' : 'editor.her_majesty'|trans,
    'hazy_days' : 'editor.hazy_days'|trans,
    'brightness' : 'editor.brightness'|trans,
    'contrast' : 'editor.contrast'|trans,
    'saturation' : 'editor.saturation'|trans,
    'vibrance' : 'editor.vibrance'|trans,
    'exposure' : 'editor.exposure'|trans,
    'hue' : 'editor.hue'|trans,
    'sepia' : 'editor.sepia'|trans,
    'gamma' : 'editor.gamma'|trans,
    'noise' : 'editor.noise'|trans,
    'clip' : 'editor.clip'|trans,
    'sharpen' : 'editor.sharpen'|trans,
    'stack_blur' : 'editor.stack_blur'|trans,
    'greyscale' : 'editor.greyscale'|trans,
    'invert' : 'editor.invert'|trans,
    'public' : 'visibility.public'|trans,
    'private' : 'visibility.private'|trans,
    'seo.title' : 'seo.title'|trans,
    'seo.alt' : 'seo.alt'|trans,
    'seo.description' : 'seo.description'|trans,
    'edit_metas_success' : 'seo.edit_metas'|trans
} %}

<media-manager inline-template
               v-cloak
               class="hide-native-scrollbar"
               :config="{{ options|json_encode }}"
               :routes="{{ routes|json_encode }}"
               :translations="{{ translations|json_encode }}"
               :in-modal="{{ modal|default(null) ? 'true' : 'false' }}"
               :hide-ext="{{ hideExt|default(null) ? hideExt|json_encode : '[]' }}"
               :hide-path="{{ hidePath|default(null) ? hidePath|json_encode : '[]' }}"
               :restrict="{{ restrict|default(null) ? restrict|json_encode : '{}' }}"
               :user-id="{{ easy_media.enable_broadcasting ? app.user.id : 0 }}"
               :upload-panel-img-list="{{ patterns|default(null) ?: '[]' }}"
               :enable-editor="{{ (editor is defined and not editor) ? 'false' : 'true' }}"
               :enable-upload="{{ (upload is defined and not upload) ? 'false' : 'true' }}"
               :enable-move="{{ (move is defined and not move) ? 'false' : 'true' }}"
               :enable-rename="{{ (rename is defined and not rename) ? 'false' : 'true' }}"
               :enable-metas="{{ (metas is defined and not metas) ? 'false' : 'true' }}"
               :enable-delete="{{ (delete is defined and not delete) ? 'false' : 'true' }}"
               :enable-bulk-selection="{{ (bulk_selection is defined and not bulk_selection) ? 'false' : 'true' }}"
>

    <div class="media-manager" >

        {# top toolbar #}
        {% include '@EasyMedia/partials/manager/toolbar.html.twig' %}
        {# ====================================================================== #}

        {# dropzone #}
        {% include '@EasyMedia/partials/manager/dropzone.html.twig' %}
        {# ====================================================================== #}


        <!--<div class="level-right">
            {# upload preview info #}
            <div class="level-item" v-if="waitingForUpload">
                <nav class="breadcrumb">
                    <ul>
                        <li><p class="level has-text-weight-bold">{% verbatim %}{{ uploadPreviewList.length }}{% endverbatim %} File's</p></li>
                        <li><p class="level has-text-weight-bold">{% verbatim %}{{ uploadPreviewListSize }}{% endverbatim %}</p></li>
                    </ul>
                </nav>
            </div>

            {# toggle sidebar #}
            <div class="level-item" v-show="!isLoading && !waitingForUpload">
                {# show/hide toolbar #}
                <div class="block sm:hidden">
                    <button type="button" class="button is-link __stack-left-toolbarToggle" @click.stop="toolBar = !toolBar">
                        <span class="icon"><icon :name="toolBar ? 'times' : 'bars'"></icon></span>
                    </button>
                </div>
            </div>
        </div>-->

        <div class="media-manager__stack">
            {# path toolbar #}
            {% include '@EasyMedia/partials/manager/breadcrumb.html.twig' %}
            {# ====================================================================== #}

            <section class="__stack-container">
                {# upload preview #}
                {% include '@EasyMedia/partials/manager/upload-preview.html.twig' %}

                {# loadings #}
                {% include '@EasyMedia/partials/manager/loadings.html.twig' %}

                {# overlay #}
                <container-click-overlay></container-click-overlay>

                <div class="extra-func-btns" v-if="enableMove">
                    {# intro #}
{#                    <usage-intro-btn v-show="!isLoading && !waitingForUpload"></usage-intro-btn>#}

                    {# movable list #}
                    <v-touch v-if="allItemsCount && !isLoading && !waitingForUpload && !inMovableList()"
                             class="movable-list"
                             v-tippy="{arrow: true, hideOnClick: false}"
                             :title="'{{ 'add.list'|trans }} (c / x)'"
                             @tap="addToMovableList()">
                        <span class="icon is-large">
                            <icon name="plus" scale="1.2"></icon>
                        </span>
                    </v-touch>

                    <v-touch v-if="allItemsCount && movableItemsCount && !isLoading && !waitingForUpload"
                             class="movable-list mt-4"
                             v-tippy="{arrow: true, hideOnClick: false}"
                             :title="'{{ 'show.list'|trans }}'"
                             @tap="showMovableList()"
                             @hold="clearMovableList()">
                        <span class="icon is-large">
                            <icon name="list-ul" scale="1.2"></icon>
                        </span>
                        <span class="counter">{% verbatim %}{{ movableItemsCount || null }}{% endverbatim %}</span>
                    </v-touch>
                </div>

                {# ====================================================================== #}
                {# toggle sidebar #}
                <div class="__stack-sidebar-toggle is-hidden-touch"
                     :class="{'__stack-sidebar-hidden' : !infoSidebar}"
                     @click.stop="toggleInfoSidebar(), saveUserPref()"
                     v-tippy="{arrow: true}"
                     :title="infoSidebar ? trans('close') + ' (t)' : trans('open') + ' (t)'"
                     v-if="allItemsCount && !this.isBulkSelecting()">
                    <transition :name="infoSidebar ? 'mm-info-out' : 'mm-info-in'" mode="out-in">
                        <div :key="infoSidebar ? 1 : 2" class="__stack-sidebar-toggle-button has-text-link">
                            <template v-if="infoSidebar">
                                <span class="icon"><icon name="angle-double-left"></icon></span>
                            </template>
                            <template v-else>
                                <span class="icon"><icon name="angle-double-right"></icon></span>
                            </template>
                        </div>
                    </transition>
                </div>

                {# files box #}
                <v-touch class="__stack-files mm-animated"
                         :class="{'__stack-sidebar-hidden' : !infoSidebar}"
                         ref="__stack-files"
                         @swiperight="goToPrevFolder()"
                         @swipeleft="goToPrevFolder()"
                         @hold="containerClick($event)"
                         @dbltap="containerClick($event)"
                         @pinchin="containerClick($event)">


                    {# no search #}
                    <section>
                        <div id="no_search" v-show="no_search">
                            <div id="no_search_anim" data-json="{{ asset('bundles/easymedia/dist/lottie/ice_cream.json') }}"></div>
                            <h3>{{ 'nothing_found'|trans }}</h3>
                        </div>
                    </section>

                    {# files #}
                    <ul class="__files-boxs" ref="filesList">
                        <li v-for="(file, index) in orderBy(filterBy(allFiles, searchFor, 'name'), sortName, sortDirection)"
                            :key="file.name"
                            :data-file-index="index"
                            @click.stop="setSelected(file, index, $event)">
                            <v-touch class="__file-box mm-animated"
                                     :class="{'bulk-selected': IsInBulkList(file), 'selected' : isSelected(file)}"
                                     @swipeup="swipGesture($event, file, index)"
                                     @swipedown="swipGesture($event, file, index)"
                                     @swiperight="swipGesture($event, file, index)"
                                     @swipeleft="swipGesture($event, file, index)"
                                     @hold="pressGesture($event, file, index)"
                                     @dbltap="pressGesture($event, file, index)">

                                {# lock file #}
                                <button type="button" v-if="$refs.lock"
                                        class="__box-lock-icon icon"
                                        :disabled="isLoading"
                                        :class="IsLocked(file) ? 'is-danger' : 'is-success'"
                                        :title="IsLocked(file) ? '{{ 'unlock'|trans }}' : '{{ 'lock'|trans }}'"
                                        v-tippy="{arrow: true, hideOnClick: false}"
                                        @click.stop="lockFileForm(file)">
                                </button>

                                {# copy file link #}
                                <div v-if="!fileTypeIs(file, 'folder')"
                                     class="__box-copy-link icon"
                                     @click.stop="copyLink(file.path)"
                                     :title="linkCopied ? trans('copied') : trans('to_cp')"
                                     v-tippy="{arrow: true, hideOnClick: false}"
                                     @hidden="linkCopied = false">
                                    <icon name="regular/clone" scale="0.9"></icon>
                                </div>

                                <div class="__box-data">
                                    <div class="__box-preview">
                                        <template v-if="fileTypeIs(file, 'image')">
                                            <image-intersect
                                                    :file="file"
                                                    :check-for-dimensions="checkForDimensions"
                                                    :browser-support="browserSupport"
                                                    root-el=".__stack-files">
                                            </image-intersect>
                                        </template>

                                        <span v-else class="icon is-large">
                                            <icon v-if="fileTypeIs(file, 'folder')" name="folder" scale="2.6"></icon>
                                            <icon v-else-if="fileTypeIs(file, 'application')" name="cogs" scale="2.6"></icon>
                                            <icon v-else-if="fileTypeIs(file, 'compressed')" name="regular/file-archive" scale="2.6"></icon>
                                            <icon v-else-if="fileTypeIs(file, 'video')" name="film" scale="2.6"></icon>
                                            <icon v-else-if="fileTypeIs(file, 'audio')" name="music" scale="2.6"></icon>
                                            <icon v-else-if="fileTypeIs(file, 'pdf')" name="regular/file-pdf" scale="2.6"></icon>
                                            <icon v-else-if="fileTypeIs(file, 'text')" name="regular/file-alt" scale="2.6"></icon>
                                        </span>
                                    </div>

                                    <div class="__box-info">
                                        {# folder #}
                                        <template v-if="fileTypeIs(file, 'folder')">
                                            <h4>{% verbatim %}{{ file.name }}{% endverbatim %}</h4>
                                            <small v-if="config.gfi">
                                                <span>{% verbatim %}{{ file.count }}{% endverbatim %} {{ 'items'|trans|lower }}</span>
                                                <span v-if="file.size > 0" class="__info-file-size">{% verbatim %}{{ getFileSize(file.size) }}{% endverbatim %}</span>
                                            </small>
                                        </template>

                                        {# any other #}
                                        <template v-else>
                                            <h4>{% verbatim %}{{ getFileName(file.name) }}{% endverbatim %}</h4>
                                            <small class="__info-file-size">{% verbatim %}{{ getFileSize(file.size) }}{% endverbatim %}</small>
                                        </template>
                                    </div>
                                </div>
                            </v-touch>
                        </li>
                    </ul>

                    <infinite-loading v-if="firstRun && files.next"
                                      spinner="waveDots"
                                      @infinite="loadPaginatedFiles">
                        <span slot="no-more"></span>
                    </infinite-loading>
                </v-touch>

                {# ====================================================================== #}

                {# info sidebar #}
                <v-touch v-if="infoSidebar && !this.isBulkSelecting()"
                         class="__stack-sidebar is-hidden-touch"
                         @swiperight="toggleInfoSidebar(), saveUserPref()"
                         @swipeleft="toggleInfoSidebar(), saveUserPref()">

                    {# preview #}
                    <div class="__sidebar-preview">
                        <transition name="mm-slide" mode="out-in" appear>
                            {# no selection #}
                            <div key="none-selected" class="__sidebar-none-selected" v-if="!selectedFile">
                                <span @click.stop="reset()" class="link"><icon name="power-off" scale="3.2"></icon></span>
                                <p>{{ 'select.nothing'|trans }}</p>
                            </div>

                            {# img #}
                            <image-preview v-else-if="selectedFileIs('image')"
                                           v-tippy="{arrow: true, placement: 'left'}"
                                           title="{{ 'space'|trans }}"
                                           :key="selectedFile.storage_path">

                                <img :src="selectedFile.path"
                                     :alt="selectedFile.name"
                                     class="link image"
                                     @click.stop="isBulkSelecting() ? false : toggleModal('preview_modal')"/>
                            </image-preview>

                            {# video #}
                            <div v-else-if="selectedFileIs('video')"
                                 v-tippy="{arrow: true, placement: 'left'}"
                                 title="{{ 'space'|trans }}"
                                 :key="selectedFile.storage_path">
                                <video controls
                                       playsinline
                                       @loadedmetadata="saveVideoDimensions"
                                       preload="metadata"
                                       data-player
                                       :src="selectedFile.path">
                                    {{ 'video_support'|trans }}
                                </video>
                            </div>

                            {# audio #}
                            <div v-else-if="selectedFileIs('audio')"
                                 v-tippy="{arrow: true, placement: 'left'}"
                                 title="{{ 'space'|trans }}"
                                 :key="selectedFile.storage_path">
                                <template>
                                    <img v-if="audioFileMeta && audioFileMeta.cover"
                                         :src="audioFileMeta.cover"
                                         :alt="selectedFile.name"
                                         class="image"/>
                                    <icon v-else class="svg-prev-icon" name="music" scale="8"></icon>
                                </template>

                                <audio controls
                                       class="is-hidden"
                                       preload="none"
                                       data-player
                                       :src="selectedFile.path">
                                    {{ 'audio.support'|trans }}
                                </audio>
                            </div>

                            {# icons #}
                            <div key="pdf" v-else-if="selectedFileIs('pdf')"
                                 class="link"
                                 v-tippy="{arrow: true, placement: 'left'}"
                                 title="{{ 'space'|trans }}"
                                 @click.stop="toggleModal('preview_modal')">
                                <icon class="svg-prev-icon" name="regular/file-pdf" scale="4"></icon>
                            </div>

                            <div key="text" v-else-if="selectedFileIs('text')"
                                 class="link"
                                 v-tippy="{arrow: true, placement: 'left'}"
                                 title="{{ 'space'|trans }}"
                                 @click.stop="toggleModal('preview_modal')">
                                <icon class="svg-prev-icon" name="regular/file-alt" scale="4"></icon>
                            </div>

                            <icon-types v-else
                                        classes="svg-prev-icon"
                                        :file="selectedFile"
                                        :file-type-is="fileTypeIs"
                                        :scale="4"
                                        :except="['image', 'audio', 'video', 'pdf', 'text']"/>
                        </transition>
                    </div>

                    {# info #}
                    <div v-if="allItemsCount"
                         class="__sidebar-info"
                         :style="{'background-color': selectedFile ? 'white' : ''}">

                        <transition name="mm-list" mode="out-in" appear>
                            <div :key="selectedFile.name" v-if="selectedFile">
                                {# audio extra info #}
                                <template v-if="selectedFileIs('audio') && checkAudioData()">
                                    <table>
                                        <tbody>
                                        <tr v-if="audioFileMeta.artist">
                                            <td class="t-key">{{ 'audio.artist'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ audioFileMeta.artist }}{% endverbatim %}</td>
                                        </tr>
                                        <tr v-if="audioFileMeta.title">
                                            <td class="t-key">{{ 'audio.title'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ audioFileMeta.title }}{% endverbatim %}</td>
                                        </tr>
                                        <tr v-if="audioFileMeta.album">
                                            <td class="t-key">{{ 'audio.album'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ audioFileMeta.album }}{% endverbatim %}</td>
                                        </tr>
                                        <tr v-if="audioFileMeta.track">
                                            <td class="t-key">{{ 'audio.track'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ audioFileMeta.track }}{% endverbatim %} <span v-if="audioFileMeta.track_total">/ {% verbatim %}{{ audioFileMeta.track_total }}{% endverbatim %}</span></td>
                                        </tr>
                                        <tr v-if="audioFileMeta.year">
                                            <td class="t-key">{{ 'audio.year'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ audioFileMeta.year }}{% endverbatim %}</td>
                                        </tr>
                                        <tr v-if="audioFileMeta.genre">
                                            <td class="t-key">{{ 'audio.genre'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ audioFileMeta.genre }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                </template>

                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="t-key">{{ 'name'|trans }}:</td>
                                        <td class="t-val">{% verbatim %}{{ selectedFile.name }}{% endverbatim %}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table v-if="!selectedFileIs('folder')">
                                    <tbody>
                                    <tr>
                                        <td class="t-key">{{ 'type'|trans }}:</td>
                                        <td class="t-val">{% verbatim %}{{ selectedFile.type }}{% endverbatim %}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="t-key">{{ 'size'|trans }}:</td>
                                        <td class="t-val">{% verbatim %}{{ getFileSize(selectedFile.size) }}{% endverbatim %}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                {# folder #}
                                <template v-if="selectedFileIs('folder')">
                                    <table v-if="config.gfi">
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{{ 'items'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ selectedFile.count }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="__sidebar-zip" v-show="!isBulkSelecting()">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td class="t-key">{{ 'download.folder'|trans }}:</td>
                                                <td class="t-val">
                                                    <div action="{{ path('media.folder_download') }}" method="post" @submit.prevent="ZipDownload($event)">
                                                        <input type="hidden" name="token" value="{{ csrf_token('folder_download') }}"/>
                                                        <input type="hidden" name="folders" :value="files.path">
                                                        <input type="hidden" name="name" :value="selectedFile.name">
                                                        <button type="submit" class="btn-plain zip" :disabled="config.gfi && selectedFile.count == 0">
                                                            <span class="icon"><icon name="archive" scale="1.2"></icon></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </template>

                                {# file #}
                                <template v-else>
                                    <table v-if="(selectedFileIs('image') || selectedFileIs('video')) && dimensions.length">
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{{ 'dimension'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ selectedFileDimensions }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table v-if="(selectedFileIs('image') || selectedFileIs('video')) && selectedFile.metas.title" >
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{{ 'seo.title'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ selectedFile.metas.title }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table v-if="(selectedFileIs('image') || selectedFileIs('video')) && selectedFile.metas.alt" >
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{{ 'seo.alt'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ selectedFile.metas.alt }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table v-if="selectedFile.metas.description" >
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{{ 'seo.description'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ selectedFile.metas.description }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table v-for="(value, name) in selectedFile.metas.extra" :key="name">
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{% verbatim %}{{ name }}{% endverbatim %}:</td>
                                            <td class="t-val">{% verbatim %}{{ value }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{{ 'visibility.main'|trans }}:</td>
                                            <td class="t-val">{% verbatim %}{{ trans(selectedFile.visibility) }}{% endverbatim %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="t-key">{{ 'preview'|trans }}:</td>
                                            <td class="t-val"><a :href="selectedFile.path" target="_blank">{{ 'public_url'|trans }}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="__sidebar-zip">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td class="t-key">{{ 'download.file'|trans }}:</td>
                                                {# normal #}
                                                <td class="t-val">
                                                    <button type="button" class="btn-plain" @click.prevent="saveFile(selectedFile)">
                                                        <span class="icon"><icon name="download" scale="1.2"></icon></span>
                                                    </button>
                                                </td>
                                                {# zip #}
                                                <td class="t-val">
                                                    <div action="{{ path('media.files_download') }}"
                                                          method="post"
                                                          @submit.prevent="ZipDownload($event)"
                                                          v-show="isBulkSelecting()">
                                                        <input type="hidden" name="token" value="{{ csrf_token('files_download') }}"/>
                                                        <input type="hidden" name="list" :value="JSON.stringify(bulkList)">
                                                        <input type="hidden" name="name" :value="folders.length ? folders[folders.length - 1] : 'media_manager'">
                                                        <button type="submit" class="btn-plain zip" :disabled="hasFolder()">
                                                            <span class="icon"><icon name="archive" scale="1.2"></icon></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </template>

                                <table v-if="selectedFile.last_modified_formated">
                                    <tbody>
                                    <tr>
                                        <td class="t-key">{{ 'last_modified'|trans }}:</td>
                                        <td class="t-val">{% verbatim %}{{ selectedFile.last_modified_formated }}{% endverbatim %}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            {# keep the counts at bottom #}
                            <div v-else></div>
                        </transition>

                        {# items count #}
                        <div class="__sidebar-count">
                            {# all #}
                            {# <div key="1" v-if="allItemsCount">
                                <p class="title is-1">{% verbatim %}{{ allItemsCount }}{% endverbatim %}</p>
                                <p class="heading">{{ 'total'|trans }}</p>
                            </div>#}

                            {# search #}
                            {# <div key="2" v-if="searchItemsCount !== null && searchItemsCount >= 0">
                                <p class="title is-1">{% verbatim %}{{ searchItemsCount }}{% endverbatim %}</p>
                                <p class="heading">{{ 'found'|trans }}</p>
                            </div>#}

                            {# bulk #}
                            <!--div key="3" v-if="bulkItemsCount" class="__sidebar-count-bulk">
                                <p>
                                    <span class="title is-1">{% verbatim %}{{ bulkItemsCount }}{% endverbatim %}</span>

                                    {# nested #}
                                    <template v-if="bulkItemsChild">
                                        <span class="icon is-medium"><icon name="plus"></icon></span>
                                        <span class="title is-5">{% verbatim %}{{ bulkItemsChild }}{% endverbatim %}</span>
                                    </template>
                                </p>

                                {# size #}
                                <p v-show="bulkItemsSize" class="title is-6 has-text-weight-semibold">{% verbatim %}{{ bulkItemsSize }}{% endverbatim %}</p>
                                <p class="heading">{{ 'select.selected'|trans }}</p>
                            </div-->
                        </div>
                    </div>
                </v-touch>

                <v-touch v-else-if="!infoSidebar && !isASmallScreen"
                         class="__sidebar-swipe-hidden"
                         @swiperight="toggleInfoSidebar(), saveUserPref()"
                         @swipeleft="toggleInfoSidebar(), saveUserPref()">
                </v-touch>
            </section>


        </div>

        {# ====================================================================== #}

        {# modals #}
        {% include '@EasyMedia/partials/modal/ops.html.twig' %}
    </div>
</media-manager>
